<div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h3>Vision@ry</h3>
        <hr>
        <ol>
            <li>hiekgfshoigrgwjlgkjw</li>
            <li>dgijfosijsefijoj</li>
            <li>,vfdsjrlsifgosgfs</li>
            <li>sdlfvijnhefslfksjkfws</li>
        </ol>
        <p>styles internal external</p>
        <p>more components added bla bla</p>
        <hr>
        <app-warning-alert></app-warning-alert>
        <app-succes-alert></app-succes-alert>
        <app-servers></app-servers>
        <!-- <div app-servers></div>    -->
        <!-- <div> <div class="app-servers"></div> -->
      </div>  
    </div>
</div>