<div *ngIf="data" class="container">

  
  <div class="row">

    <div class="col-12 myform">
      <img class="avatar" src="../../assets/{{data.user.avatar}}" alt="">
      <h3 >Welcome to Starz United {{data.user.username}}</h3>
      <hr>
      <ol>
          <li>Fill up list every wednesday and friday before 17:00 Uk time!</li>
          <li>Be on time in the lobby on game day's.</li>
          <li>Alway's mic on during game's.</li>
          <li>Never give up keep fighting til the last second.</li>
      </ol>
      <p>Write your name below and choose can or cant.</p>
      <hr>

      <app-servers></app-servers>

    </div>  
  </div>
</div>